<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Welcome in Hichem's app</h1>
        <p class="lead">This is a simple Angular application, developed by Hichem Baitiche to demonstrate the use of authentication in Angular aps using a mockBackend with httpClient.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a [routerLink]="['/login']" class="btn btn-primary btn-lg" role="button" *ngIf="! authService.isAuthentified()">Login Now</a>
      </div>
</div>